body{
    background-color: rgb(241, 234, 234);
}

.big_title{
    font-family: trirong;
}


.threepicture{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.rounded_images{
    border-radius: 10px;

}




