body{
    background-color: rgb(255, 245, 238);
}
  

img{
  width:100%;
}

.big_title{
    font-family: 'arial';
    font-weight: 400;
    font-size: 200px;
    color:rgb(0, 0, 0) ;
  }



.rounded_images{
    border-radius: 10px;

}



header, .full-width {
  width: 100%;
  background:  rgb(255, 245, 238);
}
.wrap {
  width: 80%;
  max-width: 24em;
  margin: 0 auto;
  padding: 0.25em 0.625em;
}



.product {
  text-align: justify;
  width: 460px;
}

.product img {
  display: block;
  margin: 0 auto;
}

.hero{
display:grid;
grid-template-columns: 1fr 1fr;
}


.product {
  text-align: center!important;
}


.split {
  height: 100%;
  width: 50%;
  position:relative; 
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}


.left {
  left: 0;
  background-color: rgb(0, 0, 0);
}


.right {
  right: 0;
  background-color: rgb(255, 255, 255);
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.centered img {
  width: 960px;
}




.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}